<div class="main-login-wrapper background-default">
    <div class="content-wrapper">
        <mat-toolbar class="login-logo-bar" color="primary">
            <a routerLink="/login" [queryParams]="{ checkBrowser: false }">
                <img alt="e-sjednice-logo" src="assets/img/esjednice-logo-dark.png" />
            </a>
        </mat-toolbar>

        <div class="main-router">
            <router-outlet></router-outlet>
        </div>

        <div class="footer">
            <a href="https://e-sjednice.com" target="_bank">© Copyright by e-sjednice.com</a>
            &middot;
            <a routerLink="legalnotice">
                {{ 'Legal notice' | translate }}
            </a>
            &middot;
            <a routerLink="privacypolicy">
                {{ 'Privacy policy' | translate }}
            </a>
        </div>
    </div>
</div>
